{% extends 'base_template.html' %}
{% block content %}

<h1>You will not regret it - send your 20 monthly membership fee now!</h1>
    <div>
      <form action="/create_transaction/" method="POST" id="braintree-payment-form">
      {% csrf_token %}
        <p>
          <label>Card Number</label>
          <input type="text" size="20" autocomplete="off" data-encrypted-name="number" />
        </p>
        <p>
          <label>CVV</label>
          <input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" />
        </p>
        <p>
          <label>Expiration (MM/YYYY)</label>
          <input type="text" size="2" name="month" /> / <input type="text" size="4" name="year" />
        </p>
        <input type="submit" id="submit" />
      </form>
    </div>
    <script src="https://js.braintreegateway.com/v1/braintree.js"></script>
    <script>
      var braintree = Braintree.create("MIIBCgKCAQEA3vuKyiRJmkeSnhTmExJvgEbotImB7vPkPYBcKiuMbCzHmJGUFOsxCc/20IrkEaA4tFgjnyVI0u6LR8/0L0+T3vY57bDy3vDURr0cQ7ZLSEbdaPoBA+iDF6WvTEElwchoJMN94iK2QhjIDPebPUD4bd/A35SLqgu6OOwdcu0y82O202/Mg6TfCSWNpOy8MOnefYTYjtqiEGIN5IhckuZPagXRxk+JmrjfcJYwGUeB9arCJyDdi8mFOmzswtByWAgFJK9z8A4E/ArppTG0P+VXMPOAVPFe0yGKZu3MUxr/AU3v8bq6arZTN9TlgQ438xy/xzShmwghkqFsTjtBnrqL5wIDAQAB");
      braintree.onSubmitEncryptForm('braintree-payment-form');
    </script>

{% endblock content %}